<%= form_for @creature do |f| %>
    <h2>Name</h2>
    <%= f.text_field :name %>
    </br>
    </br>
    <h2>Description</h2>
    <%= f.text_area :description %>
    </br>
    <%= f.submit "Save Creature" %>
<% end %>